
@{
    ViewBag.Title = "Erro 500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Erro 500</h2>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Erro Interno do Servidor</h1>
        <p class="lead">Pode chamar o Padre Quevedo que deu alguma coisa errada.</p>
        <a class="btn btn-primary btn-lg" href="javascript:void(0);" onclick="history.go(-1);">Voltar</a>
    </div>
</div>