
@{
    ViewBag.Title = "Erro 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Erro 404</h2>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Página não encontrada</h1>
        <p class="lead">Meu amigo, eu só lamento. A página não foi encontrada.</p>
        <a class="btn btn-primary btn-lg" href="javascript:void(0);" onclick="history.go(-1);">Voltar</a>
    </div>
</div>