
@{
    ViewBag.Title = "Erro 400";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Erro 400</h2>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Requisição Má</h1>
        <p class="lead">Parece que você pediu alguma coisa errada. Tente de volta.</p>
        <a class="btn btn-primary btn-lg" href="javascript:void(0);" onclick="history.go(-1);">Voltar</a>
    </div>
</div>